<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>State Analysis Charts</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>

        <!-- Boostrap Stylesheet -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    
        <!-- Our own CSS stylesheet -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen">
    </head>
    
    <body class="bg-light">
        <!-- Start of navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-0">
            <a class="navbar-brand custom-bg-color text-white p-2" href="http://127.0.0.1:5006/">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" style="color:white" href="#" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Navigation</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/jcharts">Job Analysis Charts</a>
                            <a class="dropdown-item" href="/states_table">States Data Table</a>
                            <a class="dropdown-item" href="/jobs_table">Jobs Data Table</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- End of navbar -->
        </nav>
        <!--Add plots in a container-->
        <div class="container content bg-white">
            <h3>State Analysis Charts</h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Total Population for Each State</h3>
                    <div id="chart"></div>
                    <script src="static/js/logic4.js"></script>
                </div>
            </div>
        </div>
    </body>
</html>
