<!DOCTYPE html>
<html lang="en-us">

  <head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <!-- Add a title here -->
    <title>States Data</title>
  
    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  
    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen">
  
  </head>

  <body class="bg-light">
    <!-- Start of navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-0">
      <a class="navbar-brand custom-bg-color text-white p-2" href="http://127.0.0.1:5006/">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" style="color:white" href="#" id="navbarDropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Navigation</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/charts">State Analysis Charts</a>
              <a class="dropdown-item" href="/jcharts">Job Analysis Charts</a>
              <a class="dropdown-item" href="/jobs_table">Jobs Data Table</a>
            </div>
          </li>
        </ul>
      </div>
      <!-- End of navbar -->
    </nav>
    <!-- Start of container -->
    <div class="container bg-white mt-5">
      <div class="row">
        <div class="col-md-12 p-0">
          <div class="card">
            <h3 class="card-header text-info">States Data</h3>
            <div class="card-body">
              <p class="card-text pb-2">The following table includes all of the states data used for plotting during the
                project.
              </p>
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed">
                  <thead class="thead-dark">
                    <tr style="text-align: center;">
                      <th>Name</th>
                      <th>Postal</th>
                      <th>Date</th>
                      <th>Nickname</th>
                      <th>Fips</th>
                      <th>Demonym</th>
                      <th>Lowest point</th>
                      <th>Highest point</th>
                      <th>Website</th>
                      <th>Per capita income</th>
                      <th>Median household income</th>
                      <th>Representatives</th>
                      <th>Time zones</th>
                      <th>Motto</th>
                      <th>Capital name</th>
                      <th>Capital latitude</th>
                      <th>Capital longitude</th>
                      <th>Population total</th>
                      <th>Area land rank</th>
                      <th>Symbols tree</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Alabama</td>
                      <td>AL</td>
                      <td>Dec 14, 1819</td>
                      <td>Heart of Dixie</td>
                      <td>01</td>
                      <td>Alabamian</td>
                      <td>Gulf of Mexico</td>
                      <td>Cheaha Mountain</td>
                      <td>http://www.alabama.gov</td>
                      <td>$23,606</td>
                      <td>$49,861</td>
                      <td>7</td>
                      <td>[CST]</td>
                      <td>Audemus jura nostra defendere</td>
                      <td>Montgomery</td>
                      <td>32.377716</td>
                      <td>-86.300568</td>
                      <td>5024279</td>
                      <td>28</td>
                      <td>Southern Longleaf Pine</td>
                    </tr>
                    <tr>
                      <td>Alaska</td>
                      <td>AK</td>
                      <td>Jan 3, 1959</td>
                      <td>The Last Frontier</td>
                      <td>02</td>
                      <td>Alaskan</td>
                      <td>Gulf of Alaska, Bering Sea, and Arctic Ocean</td>
                      <td>Denali</td>
                      <td>http://alaska.gov/</td>
                      <td>$33,062</td>
                      <td>$74,346</td>
                      <td>1</td>
                      <td>[AKST, HST]</td>
                      <td>North to the Future</td>
                      <td>Juneau</td>
                      <td>58.301598</td>
                      <td>-134.420212</td>
                      <td>733391</td>
                      <td>1</td>
                      <td>Sitka Spruce</td>
                    </tr>
                    <tr>
                      <td>Arizona</td>
                      <td>AZ</td>
                      <td>Feb 14, 1912</td>
                      <td>Grand Canyon State</td>
                      <td>04</td>
                      <td>Arizonan</td>
                      <td>Colorado River at Sonora border, San Luis, Arizona</td>
                      <td>Humphreys Peak</td>
                      <td>https://az.gov/</td>
                      <td>$25,715</td>
                      <td>$59,246</td>
                      <td>9</td>
                      <td>[MST]</td>
                      <td>Ditat Deus</td>
                      <td>Phoenix</td>
                      <td>33.448143</td>
                      <td>-112.096962</td>
                      <td>7151502</td>
                      <td>6</td>
                      <td>Palo Verde</td>
                    </tr>
                    <tr>
                      <td>Arkansas</td>
                      <td>AR</td>
                      <td>Jun 15, 1836</td>
                      <td>Natural State</td>
                      <td>05</td>
                      <td>Arkansan</td>
                      <td>Ouachita River at Louisiana border</td>
                      <td>Mount Magazine</td>
                      <td>http://www.arkansas.gov/</td>
                      <td>$22,883</td>
                      <td>$47,062</td>
                      <td>4</td>
                      <td>[CST]</td>
                      <td>Regnat populus</td>
                      <td>Little Rock</td>
                      <td>34.746613</td>
                      <td>-92.288986</td>
                      <td>3011524</td>
                      <td>27</td>
                      <td>Pine Tree</td>
                    </tr>
                    <tr>
                      <td>California</td>
                      <td>CA</td>
                      <td>Sep 9, 1850</td>
                      <td>Golden State</td>
                      <td>06</td>
                      <td>Californian</td>
                      <td>Badwater Basin in Death Valley</td>
                      <td>Mount Whitney</td>
                      <td>https://www.ca.gov/</td>
                      <td>$30,441</td>
                      <td>$75,277</td>
                      <td>53</td>
                      <td>[PST]</td>
                      <td>Eureka</td>
                      <td>Sacramento</td>
                      <td>38.576668</td>
                      <td>-121.493629</td>
                      <td>39538223</td>
                      <td>3</td>
                      <td>Coast Redwood,Giant Sequoia</td>
                    </tr>
                    <tr>
                      <td>Colorado</td>
                      <td>CO</td>
                      <td>Aug 1, 1876</td>
                      <td>Centennial State</td>
                      <td>08</td>
                      <td>Coloradan</td>
                      <td>Arikaree River at Kansas border</td>
                      <td>Mount Elbert</td>
                      <td>http://www.colorado.gov/</td>
                      <td>$32,357</td>
                      <td>$71,953</td>
                      <td>7</td>
                      <td>[MST]</td>
                      <td>Nil sine numine</td>
                      <td>Denver</td>
                      <td>39.739227</td>
                      <td>-104.984856</td>
                      <td>5773714</td>
                      <td>8</td>
                      <td>Colorado Blue Spruce</td>
                    </tr>
                    <tr>
                      <td>Connecticut</td>
                      <td>CT</td>
                      <td>Jan 9, 1788</td>
                      <td>Constitution State</td>
                      <td>09</td>
                      <td>Connecticuter</td>
                      <td>Long Island Sound</td>
                      <td>Massachusetts border on the southern slope of Mount Frissell</td>
                      <td>https://portal.ct.gov/</td>
                      <td>$39,373</td>
                      <td>$76,348</td>
                      <td>5</td>
                      <td>[EST]</td>
                      <td>Qui transtulit sustinet</td>
                      <td>Hartford</td>
                      <td>41.764046</td>
                      <td>-72.682198</td>
                      <td>3605944</td>
                      <td>48</td>
                      <td>Charter Oak</td>
                    </tr>
                    <tr>
                      <td>Delaware</td>
                      <td>DE</td>
                      <td>Dec 7, 1787</td>
                      <td>First State</td>
                      <td>10</td>
                      <td>Delawarean</td>
                      <td>Atlantic Ocean</td>
                      <td>Near the Ebright Azimuth</td>
                      <td>https://delaware.gov/</td>
                      <td>$30,488</td>
                      <td>$64,805</td>
                      <td>1</td>
                      <td>[EST]</td>
                      <td>Liberty and independence</td>
                      <td>Dover</td>
                      <td>39.157307</td>
                      <td>-75.519722</td>
                      <td>989948</td>
                      <td>50</td>
                      <td>American Holly</td>
                    </tr>
                    <tr>
                      <td>Florida</td>
                      <td>FL</td>
                      <td>Mar 3, 1845</td>
                      <td>Sunshine State</td>
                      <td>12</td>
                      <td>Floridian</td>
                      <td>Atlantic Ocean and Gulf of Mexico</td>
                      <td>Britton Hill</td>
                      <td>http://myflorida.com/</td>
                      <td>$26,582</td>
                      <td>$55,462</td>
                      <td>27</td>
                      <td>[CST]</td>
                      <td>In God we trust</td>
                      <td>Tallahassee</td>
                      <td>21.307442</td>
                      <td>-157.857376</td>
                      <td>21538187</td>
                      <td>26</td>
                      <td>Sabal Palm</td>
                    </tr>
                    <tr>
                      <td>Georgia</td>
                      <td>GA</td>
                      <td>Jan 2, 1788</td>
                      <td>Peach State</td>
                      <td>13</td>
                      <td>Georgian</td>
                      <td>Atlantic Ocean</td>
                      <td>Brasstown Bald</td>
                      <td>https://www.georgia.gov/</td>
                      <td>$25,615</td>
                      <td>$58,756</td>
                      <td>14</td>
                      <td>[EST]</td>
                      <td>Wisdom, Justice, Moderation</td>
                      <td>Atlanta</td>
                      <td>30.438118</td>
                      <td>-84.281296</td>
                      <td>10711908</td>
                      <td>21</td>
                      <td>Southern Live Oak</td>
                    </tr>
                    <tr>
                      <td>Hawaii</td>
                      <td>HI</td>
                      <td>Aug 21, 1959</td>
                      <td>Aloha State</td>
                      <td>15</td>
                      <td>Hawaii resident</td>
                      <td>Pacific Ocean</td>
                      <td>Mauna Kea</td>
                      <td>http://portal.ehawaii.gov/</td>
                      <td>$29,736</td>
                      <td>$80,212</td>
                      <td>2</td>
                      <td>[HST]</td>
                      <td>Ua Mau ke Ea o ka ‘Āina i ka Pono</td>
                      <td>Honolulu</td>
                      <td>33.749027</td>
                      <td>-84.388229</td>
                      <td>1455271</td>
                      <td>47</td>
                      <td>Kukui Tree</td>
                    </tr>
                    <tr>
                      <td>Idaho</td>
                      <td>ID</td>
                      <td>Jul 3, 1890</td>
                      <td>Gem State</td>
                      <td>16</td>
                      <td>Idahoan</td>
                      <td>Confluence of Snake River and Clearwater River</td>
                      <td>Borah Peak</td>
                      <td>http://www.idaho.gov/</td>
                      <td>$23,938</td>
                      <td>$55,583</td>
                      <td>2</td>
                      <td>[MST, PST]</td>
                      <td>Esto perpetua</td>
                      <td>Boise</td>
                      <td>43.617775</td>
                      <td>-116.199722</td>
                      <td>1839106</td>
                      <td>11</td>
                      <td>Western White Pine</td>
                    </tr>
                    <tr>
                      <td>Illinois</td>
                      <td>IL</td>
                      <td>Dec 3, 1818</td>
                      <td>Prairie State</td>
                      <td>17</td>
                      <td>Illinoisan</td>
                      <td>Confluence of Mississippi River and Ohio River</td>
                      <td>Charles Mound</td>
                      <td>https://www.illinois.gov/</td>
                      <td>$30,417</td>
                      <td>$65,030</td>
                      <td>18</td>
                      <td>[CST]</td>
                      <td>State sovereignty, national union</td>
                      <td>Springfield</td>
                      <td>39.798363</td>
                      <td>-89.654961</td>
                      <td>12812508</td>
                      <td>24</td>
                      <td>White Oak</td>
                    </tr>
                    <tr>
                      <td>Indiana</td>
                      <td>IN</td>
                      <td>Dec 11, 1816</td>
                      <td>Hoosier State</td>
                      <td>18</td>
                      <td>Hoosier</td>
                      <td>Confluence of Wabash River and Ohio River</td>
                      <td>Hoosier Hill</td>
                      <td>http://www.in.gov/</td>
                      <td>$25,140</td>
                      <td>$55,746</td>
                      <td>9</td>
                      <td>[CST, EST]</td>
                      <td>The crossroads of America</td>
                      <td>Indianapolis</td>
                      <td>39.768623</td>
                      <td>-86.162643</td>
                      <td>6785528</td>
                      <td>38</td>
                      <td>Tulip Tree</td>
                    </tr>
                    <tr>
                      <td>Iowa</td>
                      <td>IA</td>
                      <td>Dec 28, 1846</td>
                      <td>Hawkeye State</td>
                      <td>19</td>
                      <td>Iowan</td>
                      <td>Confluence of Mississippi River and Des Moines River</td>
                      <td>Hawkeye Point</td>
                      <td>http://www.iowa.gov/</td>
                      <td>$28,361</td>
                      <td>$59,955</td>
                      <td>4</td>
                      <td>[CST]</td>
                      <td>Our liberties we prize and our rights we will maintain</td>
                      <td>Des Moines</td>
                      <td>41.591087</td>
                      <td>-93.603729</td>
                      <td>3190369</td>
                      <td>23</td>
                      <td>Oak</td>
                    </tr>
                    <tr>
                      <td>Kansas</td>
                      <td>KS</td>
                      <td>Jan 29, 1861</td>
                      <td>Sunflower State</td>
                      <td>20</td>
                      <td>Kansan</td>
                      <td>Verdigris River at Oklahoma border</td>
                      <td>Mount Sunflower</td>
                      <td>http://portal.kansas.gov/</td>
                      <td>$27,870</td>
                      <td>$58,218</td>
                      <td>4</td>
                      <td>[CST, EST]</td>
                      <td>Ad astra per aspera</td>
                      <td>Topeka</td>
                      <td>39.048191</td>
                      <td>-95.677956</td>
                      <td>2937880</td>
                      <td>13</td>
                      <td>Cottonwood</td>
                    </tr>
                    <tr>
                      <td>Kentucky</td>
                      <td>KY</td>
                      <td>Jun 1, 1792</td>
                      <td>Bluegrass State</td>
                      <td>21</td>
                      <td>Kentuckian</td>
                      <td>Mississippi River at Kentucky Bend</td>
                      <td>Black Mountain</td>
                      <td>http://kentucky.gov/</td>
                      <td>$23,684</td>
                      <td>$50,247</td>
                      <td>6</td>
                      <td>[CST, EST]</td>
                      <td>United we stand, divided we fall</td>
                      <td>Frankfort</td>
                      <td>38.186722</td>
                      <td>-84.875374</td>
                      <td>4505836</td>
                      <td>37</td>
                      <td>Tulip Poplar</td>
                    </tr>
                    <tr>
                      <td>Louisiana</td>
                      <td>LA</td>
                      <td>Apr 30, 1812</td>
                      <td>Pelican State</td>
                      <td>22</td>
                      <td>Louisianian</td>
                      <td>New Orleans</td>
                      <td>Driskill Mountain</td>
                      <td>http://louisiana.gov/</td>
                      <td>$24,800</td>
                      <td>$47,905</td>
                      <td>6</td>
                      <td>[CST]</td>
                      <td>Union, justice, and confidence</td>
                      <td>Baton Rouge</td>
                      <td>30.457069</td>
                      <td>-91.187393</td>
                      <td>4657757</td>
                      <td>33</td>
                      <td>Bald Cypress</td>
                    </tr>
                    <tr>
                      <td>Maine</td>
                      <td>ME</td>
                      <td>Mar 15, 1820</td>
                      <td>Pine Tree State</td>
                      <td>23</td>
                      <td>Mainer</td>
                      <td>Atlantic Ocean</td>
                      <td>Mount Katahdin</td>
                      <td>http://www.maine.gov/</td>
                      <td>$27,978</td>
                      <td>$55,602</td>
                      <td>2</td>
                      <td>[EST]</td>
                      <td>Dirigo</td>
                      <td>Augusta</td>
                      <td>44.307167</td>
                      <td>-69.781693</td>
                      <td>1362359</td>
                      <td>39</td>
                      <td>Eastern White Pine</td>
                    </tr>
                    <tr>
                      <td>Maryland</td>
                      <td>MD</td>
                      <td>Apr 28, 1788</td>
                      <td>Old Line State</td>
                      <td>24</td>
                      <td>Marylander</td>
                      <td>Atlantic Ocean</td>
                      <td>Hoye-Crest</td>
                      <td>www.maryland.gov</td>
                      <td>$36,338</td>
                      <td>$83,242</td>
                      <td>8</td>
                      <td>[EST]</td>
                      <td>Fatti maschi, parole femmine</td>
                      <td>Annapolis</td>
                      <td>38.978764</td>
                      <td>-76.490936</td>
                      <td>6177224</td>
                      <td>42</td>
                      <td>White Oak</td>
                    </tr>
                    <tr>
                      <td>Massachusetts</td>
                      <td>MA</td>
                      <td>Feb 6, 1788</td>
                      <td>Bay State</td>
                      <td>25</td>
                      <td>Massachusettsan</td>
                      <td>Atlantic Ocean</td>
                      <td>Mount Greylock</td>
                      <td>http://www.mass.gov/</td>
                      <td>$36,593</td>
                      <td>$79,835</td>
                      <td>9</td>
                      <td>[EST]</td>
                      <td>Ense petit placidam sub libertate quietem</td>
                      <td>Boston</td>
                      <td>42.358162</td>
                      <td>-71.063698</td>
                      <td>7029917</td>
                      <td>45</td>
                      <td>American Elm</td>
                    </tr>
                    <tr>
                      <td>Michigan</td>
                      <td>MI</td>
                      <td>Jan 26, 1837</td>
                      <td>Great Lakes State</td>
                      <td>26</td>
                      <td>Michiganian</td>
                      <td>Lake Erie</td>
                      <td>Mount Arvon</td>
                      <td>http://www.michigan.gov/</td>
                      <td>$26,613</td>
                      <td>$56,697</td>
                      <td>14</td>
                      <td>[CST, EST]</td>
                      <td>Si quaeris peninsulam amoenam circumspice</td>
                      <td>Lansing</td>
                      <td>42.733635</td>
                      <td>-84.555328</td>
                      <td>10077331</td>
                      <td>22</td>
                      <td>Eastern White Pine</td>
                    </tr>
                    <tr>
                      <td>Minnesota</td>
                      <td>MN</td>
                      <td>May 11, 1858</td>
                      <td>Land of 10,000 Lakes</td>
                      <td>27</td>
                      <td>Minnesotan</td>
                      <td>Lake Superior</td>
                      <td>Eagle Mountain</td>
                      <td>http://mn.gov/</td>
                      <td>$32,638</td>
                      <td>$70,315</td>
                      <td>8</td>
                      <td>[CST]</td>
                      <td>L’étoile du Nord</td>
                      <td>St. Paul</td>
                      <td>44.955097</td>
                      <td>-93.102211</td>
                      <td>5706494</td>
                      <td>14</td>
                      <td>Norway Pine</td>
                    </tr>
                    <tr>
                      <td>Mississippi</td>
                      <td>MS</td>
                      <td>Dec 10, 1817</td>
                      <td>Magnolia State</td>
                      <td>28</td>
                      <td>Mississippian</td>
                      <td>Gulf of Mexico</td>
                      <td>Woodall Mountain</td>
                      <td>http://www.ms.gov/</td>
                      <td>$21,036</td>
                      <td>$44,717</td>
                      <td>4</td>
                      <td>[CST]</td>
                      <td>Virtute et armis</td>
                      <td>Jackson</td>
                      <td>32.303848</td>
                      <td>-90.182106</td>
                      <td>2961279</td>
                      <td>31</td>
                      <td>Southern Magnolia</td>
                    </tr>
                    <tr>
                      <td>Missouri</td>
                      <td>MO</td>
                      <td>Aug 10, 1821</td>
                      <td>Show-Me State</td>
                      <td>29</td>
                      <td>Missourian</td>
                      <td>Saint Francis River at southern Arkansas border</td>
                      <td>Taum Sauk Mountain</td>
                      <td>http://www.mo.gov/</td>
                      <td>$26,126</td>
                      <td>$54,478</td>
                      <td>8</td>
                      <td>[CST]</td>
                      <td>Salus populi suprema lex esto</td>
                      <td>Jefferson City</td>
                      <td>38.579201</td>
                      <td>-92.172935</td>
                      <td>6154913</td>
                      <td>18</td>
                      <td>Flowering Dogwood</td>
                    </tr>
                    <tr>
                      <td>Montana</td>
                      <td>MT</td>
                      <td>Nov 8, 1889</td>
                      <td>Treasure State</td>
                      <td>30</td>
                      <td>Montanan</td>
                      <td>Kootenai River at Idaho border</td>
                      <td>Granite Peak</td>
                      <td>http://www.mt.gov/</td>
                      <td>$25,989</td>
                      <td>$55,328</td>
                      <td>1</td>
                      <td>[MST]</td>
                      <td>Oro y plata</td>
                      <td>Helena</td>
                      <td>46.585709</td>
                      <td>-112.018417</td>
                      <td>1084225</td>
                      <td>4</td>
                      <td>Ponderosa Pine</td>
                    </tr>
                    <tr>
                      <td>Nebraska</td>
                      <td>NE</td>
                      <td>Mar 1, 1867</td>
                      <td>Cornhusker State</td>
                      <td>31</td>
                      <td>Nebraskan</td>
                      <td>Missouri River at Kansas border</td>
                      <td>Panorama Point</td>
                      <td>http://www.nebraska.gov/</td>
                      <td>$27,446</td>
                      <td>$59,566</td>
                      <td>3</td>
                      <td>[CST, MST]</td>
                      <td>Equality before the law</td>
                      <td>Lincoln</td>
                      <td>40.808075</td>
                      <td>-96.699654</td>
                      <td>1961504</td>
                      <td>15</td>
                      <td>Cottonwood</td>
                    </tr>
                    <tr>
                      <td>Nevada</td>
                      <td>NV</td>
                      <td>Oct 31, 1864</td>
                      <td>Silver State</td>
                      <td>32</td>
                      <td>Nevadan</td>
                      <td>Colorado River at California border</td>
                      <td>Boundary Peak</td>
                      <td>http://www.nv.gov/</td>
                      <td>$25,773</td>
                      <td>$58,646</td>
                      <td>4</td>
                      <td>[MST, PST]</td>
                      <td>All for our country</td>
                      <td>Carson City</td>
                      <td>39.163914</td>
                      <td>-119.766121</td>
                      <td>3104614</td>
                      <td>7</td>
                      <td>Bristlecone Pine</td>
                    </tr>
                    <tr>
                      <td>New Hampshire</td>
                      <td>NH</td>
                      <td>Jun 21, 1788</td>
                      <td>Granite State</td>
                      <td>33</td>
                      <td>New Hampshirite</td>
                      <td>Atlantic Ocean</td>
                      <td>Mount Washington</td>
                      <td>http://www.nh.gov/</td>
                      <td>$34,691</td>
                      <td>$74,991</td>
                      <td>2</td>
                      <td>[EST]</td>
                      <td>Live free or die</td>
                      <td>Concord</td>
                      <td>43.206898</td>
                      <td>-71.537994</td>
                      <td>1377529</td>
                      <td>44</td>
                      <td>White Birch</td>
                    </tr>
                    <tr>
                      <td>New Jersey</td>
                      <td>NJ</td>
                      <td>Dec 18, 1787</td>
                      <td>Garden State</td>
                      <td>34</td>
                      <td>New Jerseyan</td>
                      <td>Atlantic Ocean</td>
                      <td>High Point</td>
                      <td>www.nj.gov</td>
                      <td>$37,288</td>
                      <td>$81,740</td>
                      <td>12</td>
                      <td>[EST]</td>
                      <td>Liberty and Prosperity</td>
                      <td>Trenton</td>
                      <td>40.220596</td>
                      <td>-74.769913</td>
                      <td>9288994</td>
                      <td>46</td>
                      <td>Northern Red Oak</td>
                    </tr>
                    <tr>
                      <td>New Mexico</td>
                      <td>NM</td>
                      <td>Jan 6, 1912</td>
                      <td>Land of Enchantment</td>
                      <td>35</td>
                      <td>New Mexican</td>
                      <td>Red Bluff Reservoir on Texas border</td>
                      <td>Wheeler Peak</td>
                      <td>http://www.newmexico.gov/</td>
                      <td>$23,683</td>
                      <td>$47,169</td>
                      <td>3</td>
                      <td>[MST]</td>
                      <td>Crescit eundo</td>
                      <td>Santa Fe</td>
                      <td>35.68224</td>
                      <td>-105.939728</td>
                      <td>2117522</td>
                      <td>5</td>
                      <td>Two-Needle Pinon Pine</td>
                    </tr>
                    <tr>
                      <td>New York</td>
                      <td>NY</td>
                      <td>Jul 26, 1788</td>
                      <td>Empire State</td>
                      <td>36</td>
                      <td>New Yorker</td>
                      <td>Atlantic Ocean</td>
                      <td>Mount Marcy</td>
                      <td>https://www.ny.gov/</td>
                      <td>$33,095</td>
                      <td>$67,844</td>
                      <td>27</td>
                      <td>[EST]</td>
                      <td>Excelsior!</td>
                      <td>Albany</td>
                      <td>35.78043</td>
                      <td>-78.639099</td>
                      <td>20201249</td>
                      <td>30</td>
                      <td>Sugar Maple</td>
                    </tr>
                    <tr>
                      <td>North Carolina</td>
                      <td>NC</td>
                      <td>Nov 21, 1789</td>
                      <td>Tar Heel State</td>
                      <td>37</td>
                      <td>North Carolinian</td>
                      <td>Atlantic Ocean</td>
                      <td>Mount Mitchell</td>
                      <td>https://www.nc.gov/</td>
                      <td>$25,774</td>
                      <td>$53,855</td>
                      <td>13</td>
                      <td>[EST]</td>
                      <td>Esse quam videri</td>
                      <td>Raleigh</td>
                      <td>46.82085</td>
                      <td>-100.783318</td>
                      <td>10439388</td>
                      <td>29</td>
                      <td>Pine Tree</td>
                    </tr>
                    <tr>
                      <td>North Dakota</td>
                      <td>ND</td>
                      <td>Nov 2, 1889</td>
                      <td>Peace Garden State</td>
                      <td>38</td>
                      <td>North Dakotan</td>
                      <td>Red River of the North at Manitoba border</td>
                      <td>White Butte</td>
                      <td>http://nd.gov/</td>
                      <td>$33,071</td>
                      <td>$63,837</td>
                      <td>1</td>
                      <td>[CST, MST]</td>
                      <td>Liberty and union, now and forever, one and inseparable</td>
                      <td>Bismarck</td>
                      <td>42.652843</td>
                      <td>-73.757874</td>
                      <td>779094</td>
                      <td>17</td>
                      <td>American Elm</td>
                    </tr>
                    <tr>
                      <td>Ohio</td>
                      <td>OH</td>
                      <td>Mar 1, 1803</td>
                      <td>Buckeye State</td>
                      <td>39</td>
                      <td>Ohioan</td>
                      <td>Ohio River at Indiana border</td>
                      <td>Campbell Hill</td>
                      <td>http://ohio.gov/</td>
                      <td>$26,937</td>
                      <td>$56,111</td>
                      <td>16</td>
                      <td>[EST]</td>
                      <td>With God, all things are possible</td>
                      <td>Columbus</td>
                      <td>39.961346</td>
                      <td>-82.999069</td>
                      <td>11799448</td>
                      <td>35</td>
                      <td>Ohio Buckeye</td>
                    </tr>
                    <tr>
                      <td>Oklahoma</td>
                      <td>OK</td>
                      <td>Nov 16, 1907</td>
                      <td>Sooner State</td>
                      <td>40</td>
                      <td>Oklahoman</td>
                      <td>Little River at Arkansas border</td>
                      <td>Black Mesa</td>
                      <td>http://www.ok.gov/</td>
                      <td>$25,229</td>
                      <td>$51,924</td>
                      <td>5</td>
                      <td>[CST]</td>
                      <td>Labor omnia vincit</td>
                      <td>Oklahoma City</td>
                      <td>35.492207</td>
                      <td>-97.503342</td>
                      <td>3959353</td>
                      <td>19</td>
                      <td>Redbud</td>
                    </tr>
                    <tr>
                      <td>Oregon</td>
                      <td>OR</td>
                      <td>Feb 14, 1859</td>
                      <td>Beaver State</td>
                      <td>41</td>
                      <td>Oregonian</td>
                      <td>Pacific Ocean</td>
                      <td>Mount Hood</td>
                      <td>http://www.oregon.gov/</td>
                      <td>$27,646</td>
                      <td>$63,426</td>
                      <td>5</td>
                      <td>[MST, PST]</td>
                      <td>The Union, and Alis volat propriis</td>
                      <td>Salem</td>
                      <td>44.938461</td>
                      <td>-123.030403</td>
                      <td>4237256</td>
                      <td>10</td>
                      <td>Douglas-Fir</td>
                    </tr>
                    <tr>
                      <td>Pennsylvania</td>
                      <td>PA</td>
                      <td>Dec 12, 1787</td>
                      <td>Keystone State</td>
                      <td>42</td>
                      <td>Pennsylvanian</td>
                      <td>Delaware River at Delaware border</td>
                      <td>Mount Davis</td>
                      <td>https://www.pa.gov/</td>
                      <td>$29,220</td>
                      <td>$60,905</td>
                      <td>18</td>
                      <td>[EST]</td>
                      <td>Virtue, Liberty and Independence</td>
                      <td>Harrisburg</td>
                      <td>40.264378</td>
                      <td>-76.883598</td>
                      <td>13002700</td>
                      <td>32</td>
                      <td>Eastern Hemlock</td>
                    </tr>
                    <tr>
                      <td>Rhode Island</td>
                      <td>RI</td>
                      <td>May 29, 1790</td>
                      <td>Ocean State</td>
                      <td>44</td>
                      <td>Rhode Islander</td>
                      <td>Atlantic Ocean</td>
                      <td>Jerimoth Hill</td>
                      <td>http://www.ri.gov/</td>
                      <td>$30,830</td>
                      <td>$64,340</td>
                      <td>2</td>
                      <td>[EST]</td>
                      <td>Hope</td>
                      <td>Providence</td>
                      <td>41.830914</td>
                      <td>-71.414963</td>
                      <td>1097379</td>
                      <td>51</td>
                      <td>Red Maple</td>
                    </tr>
                    <tr>
                      <td>South Carolina</td>
                      <td>SC</td>
                      <td>May 23, 1788</td>
                      <td>Palmetto State</td>
                      <td>45</td>
                      <td>South Carolinian</td>
                      <td>Atlantic Ocean</td>
                      <td>Sassafras Mountain</td>
                      <td>https://sc.gov/</td>
                      <td>$24,596</td>
                      <td>$52,306</td>
                      <td>7</td>
                      <td>[EST]</td>
                      <td>Dum spiro spero</td>
                      <td>Columbia</td>
                      <td>34.000343</td>
                      <td>-81.033211</td>
                      <td>5118425</td>
                      <td>40</td>
                      <td>Sabal Palmetto</td>
                    </tr>
                    <tr>
                      <td>South Dakota</td>
                      <td>SD</td>
                      <td>Nov 2, 1889</td>
                      <td>The Mount Rushmore State</td>
                      <td>46</td>
                      <td>South Dakotan</td>
                      <td>Big Stone Lake on Minnesota border</td>
                      <td>Black Elk Peak</td>
                      <td>http://sd.gov/</td>
                      <td>$26,959</td>
                      <td>$56,274</td>
                      <td>1</td>
                      <td>[CST, MST]</td>
                      <td>Under God the people rule</td>
                      <td>Pierre</td>
                      <td>44.367031</td>
                      <td>-100.346405</td>
                      <td>886667</td>
                      <td>16</td>
                      <td>Black Hills Spruce</td>
                    </tr>
                    <tr>
                      <td>Tennessee</td>
                      <td>TN</td>
                      <td>Jun 1, 1796</td>
                      <td>Volunteer State</td>
                      <td>47</td>
                      <td>Tennessean</td>
                      <td>Mississippi River at Mississippi border</td>
                      <td>Clingmans Dome</td>
                      <td>http://www.tn.gov/</td>
                      <td>$24,922</td>
                      <td>$52,375</td>
                      <td>9</td>
                      <td>[CST, EST]</td>
                      <td>Agriculture and Commerce</td>
                      <td>Nashville</td>
                      <td>36.16581</td>
                      <td>-86.784241</td>
                      <td>6910840</td>
                      <td>34</td>
                      <td>Tulip Poplar</td>
                    </tr>
                    <tr>
                      <td>Texas</td>
                      <td>TX</td>
                      <td>Dec 29, 1845</td>
                      <td>Lone Star State</td>
                      <td>48</td>
                      <td>Texan</td>
                      <td>Gulf of Mexico</td>
                      <td>Guadalupe Peak</td>
                      <td>http://texas.gov/</td>
                      <td>$27,125</td>
                      <td>$60,629</td>
                      <td>36</td>
                      <td>[CST, MST]</td>
                      <td>Friendship</td>
                      <td>Austin</td>
                      <td>30.27467</td>
                      <td>-97.740349</td>
                      <td>29145505</td>
                      <td>2</td>
                      <td>Pecan</td>
                    </tr>
                    <tr>
                      <td>Utah</td>
                      <td>UT</td>
                      <td>Jan 4, 1896</td>
                      <td>Beehive State</td>
                      <td>50</td>
                      <td>Utahn</td>
                      <td>Beaver Dam Wash at Arizona border</td>
                      <td>Kings Peak</td>
                      <td>https://utah.gov/</td>
                      <td>$24,877</td>
                      <td>$71,414</td>
                      <td>4</td>
                      <td>[CST]</td>
                      <td>Industry</td>
                      <td>Salt Lake City</td>
                      <td>40.777477</td>
                      <td>-111.888237</td>
                      <td>3271616</td>
                      <td>12</td>
                      <td>Quaking Aspen</td>
                    </tr>
                    <tr>
                      <td>Vermont</td>
                      <td>VT</td>
                      <td>Mar 4, 1791</td>
                      <td>Green Mountain State</td>
                      <td>51</td>
                      <td>Vermonter</td>
                      <td>Lake Champlain</td>
                      <td>Mount Mansfield</td>
                      <td>http://www.vermont.gov/</td>
                      <td>$29,178</td>
                      <td>$60,782</td>
                      <td>1</td>
                      <td>[EST]</td>
                      <td>Freedom and Unity and Stella quarta decima fulgeat</td>
                      <td>Montpelier</td>
                      <td>44.262436</td>
                      <td>-72.580536</td>
                      <td>643077</td>
                      <td>43</td>
                      <td>Sugar Maple</td>
                    </tr>
                    <tr>
                      <td>Virginia</td>
                      <td>VA</td>
                      <td>Jun 25, 1788</td>
                      <td>The Old Dominion</td>
                      <td>78</td>
                      <td>Virginian</td>
                      <td>Atlantic Ocean</td>
                      <td>Mount Rogers</td>
                      <td>http://www.virginia.gov/</td>
                      <td>$34,052</td>
                      <td>$72,577</td>
                      <td>11</td>
                      <td>[EST]</td>
                      <td>Sic semper tyrannis</td>
                      <td>Richmond</td>
                      <td>37.538857</td>
                      <td>-77.43364</td>
                      <td>8631393</td>
                      <td>36</td>
                      <td>American Dogwood</td>
                    </tr>
                    <tr>
                      <td>Washington</td>
                      <td>WA</td>
                      <td>Nov 11, 1889</td>
                      <td>Evergreen State</td>
                      <td>53</td>
                      <td>Washingtonian</td>
                      <td>Pacific Ocean</td>
                      <td>Mount Rainier</td>
                      <td>http://access.wa.gov/</td>
                      <td>$31,841</td>
                      <td>$74,073</td>
                      <td>10</td>
                      <td>[PST]</td>
                      <td>Al-ki</td>
                      <td>Olympia</td>
                      <td>47.035805</td>
                      <td>-122.905014</td>
                      <td>7705281</td>
                      <td>20</td>
                      <td>Western Hemlock</td>
                    </tr>
                    <tr>
                      <td>Washington, D.C.</td>
                      <td>DC</td>
                      <td>Jul 16, 1790</td>
                      <td>The District</td>
                      <td>11</td>
                      <td>Washingtonian</td>
                      <td>Potomac River at eastern Maryland border</td>
                      <td>Fort Reno</td>
                      <td>http://www.dc.gov</td>
                      <td>$45,877</td>
                      <td>$85,203</td>
                      <td>1</td>
                      <td>[EST]</td>
                      <td>Justitia Omnibus</td>
                      <td>Washington, D.C.</td>
                      <td>38.9101</td>
                      <td>-77.0147</td>
                      <td>689545</td>
                      <td>56</td>
                      <td>Scarlet Oak</td>
                    </tr>
                    <tr>
                      <td>West Virginia</td>
                      <td>WV</td>
                      <td>Jun 20, 1863</td>
                      <td>Mountain State</td>
                      <td>54</td>
                      <td>West Virginian</td>
                      <td>Potomac River at Virginia border</td>
                      <td>Spruce Knob</td>
                      <td>http://www.wv.gov</td>
                      <td>$22,714</td>
                      <td>$44,097</td>
                      <td>3</td>
                      <td>[EST]</td>
                      <td>Montani semper liberi</td>
                      <td>Charleston</td>
                      <td>38.336246</td>
                      <td>-81.612328</td>
                      <td>1793716</td>
                      <td>41</td>
                      <td>Sugar Maple</td>
                    </tr>
                    <tr>
                      <td>Wisconsin</td>
                      <td>WI</td>
                      <td>May 29, 1848</td>
                      <td>Badger State</td>
                      <td>55</td>
                      <td>Wisconsinite</td>
                      <td>Lake Michigan</td>
                      <td>Timms Hill</td>
                      <td>http://www.wisconsin.gov/</td>
                      <td>$28,213</td>
                      <td>$60,773</td>
                      <td>8</td>
                      <td>[CST]</td>
                      <td>Forward</td>
                      <td>Madison</td>
                      <td>43.074684</td>
                      <td>-89.384445</td>
                      <td>5893718</td>
                      <td>25</td>
                      <td>Sugar Maple</td>
                    </tr>
                    <tr>
                      <td>Wyoming</td>
                      <td>WY</td>
                      <td>Jul 10, 1890</td>
                      <td>Equality State</td>
                      <td>56</td>
                      <td>Wyomingite</td>
                      <td>Belle Fourche River at South Dakota border</td>
                      <td>Gannett Peak</td>
                      <td>http://wyo.gov/</td>
                      <td>$29,698</td>
                      <td>$61,584</td>
                      <td>1</td>
                      <td>[MST]</td>
                      <td>Equal Rights</td>
                      <td>Cheyenne</td>
                      <td>41.140259</td>
                      <td>-104.820236</td>
                      <td>576851</td>
                      <td>9</td>
                      <td>Plains Cottonwood</td>
                    </tr>
                  </tbody>
                </table>
                </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>

</html>